*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'arial', sans-serif;
    align-items: center;
    margin-top: 20px;
    background-color:aqua;
    text-decoration: double;
    box-decoration-break: inherit;
}
.button{
    
    font-size: 1px;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 1px;
    padding-right: 1px;
    border-radius: 1px;
    cursor: pointer;
}
.button :hover{
    color-scheme: blue;
    color: blue;
}